.vacationContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.selectImage:hover{
    cursor: pointer;
}

.selectImage{
    font-size: 15px;
    color: black;
    text-shadow: 1px 0 5px #000000;
    cursor: pointer;
}

.changeImage{
    font-size: 20px;
    color: white;
    text-shadow: 1px 0 5px #000000;
    cursor: pointer;
    -webkit-text-stroke: 0.3px #000000;
}

.changeImage:hover{
    cursor: pointer;
}