.homeScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.homeScreen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 160px;
  padding: 16px;
}